{% extends 'boldHER/base.html' %}

{% block content %}
	<h1>Questions about: Abortion</h1>
    {% for question in abortion_question %}
        <div class="question">
            <div class="date">
                {{ question.published_date }}
            </div>
            <h1><a href="{% url 'question_detail' pk=question.pk %}">{{ question.title }}</a></h1>
            <p>{{ question.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

	<h1>Questions about: Sexual Assault</h1>
    {% for question in sexual_assault_question %}
        <div class="question">
            <div class="date">
                {{ question.published_date }}
            </div>
            <h1><a href="{% url 'question_detail' pk=question.pk %}">{{ question.title }}</a></h1>
            <p>{{ question.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

    <h1>Questions about: Relationship Issue</h1>
    {% for question in relationship_issue_question %}
        <div class="question">
            <div class="date">
                {{ question.published_date }}
            </div>
            <h1><a href="{% url 'question_detail' pk=question.pk %}">{{ question.title }}</a></h1>
            <p>{{ question.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}